div.colorPicker-picker {
  height: 33px; /*16px;*/
  width: 16px;
  padding: 0 !important;
  /*border: 1px solid #ccc;*/
  /*background: url(arrow.gif) no-repeat top right;*/
  cursor: pointer;
  line-height: 16px;
  font-size:0.75em;
  font-weight:bold;
  text-align: center;
  
  display:inline;
  float: left;

}

div.colorPicker-palette {
  width: 108px;
  position: absolute;
  border-right: 0px solid #C9C9C9;
  background-color: #BDBDBD;
  padding: 0;
  z-index: 9999;
  box-shadow: -3px 6px 14px -6px #868686;
}
div.colorPicker_hexWrap {
	width: 100%;
	float:left
}
div.colorPicker_hexWrap label {
	font-size: 95%;
	color: #2F2F2F;
	margin: 5px 2px;
	width: 25%;
	display:none
}
div.colorPicker_hexWrap input {
	margin: 5px 2px; 
	padding: 2px; 
	font-size: 95%; 
	border: 0px solid #000; 
	width: 65%;
	height:1em;
	background:#BDBDBD;
	box-shadow: 0 0 0 #BDBDBD inset;
}


div.colorPicker-swatch {
  height: 12px;
  width: 12px;
  /*border: 1px solid #E7E7E7;*/
  /*margin: 2px;*/
  float: left;
  cursor: pointer;
  line-height: 12px;
}
