/*
 * Styling für Panels
 * 
 * 
 * 
 * 
 */



.contextgroup {
  margin: .2em .3em .0em .3em;
  display:inline-block;
  /*border: 3px solid #000;*/
}





div.panel  {
  /*margin:6px 0 0 0;*/
  /*padding: 0px;*/
  font-size:16px;
  width:100px;
  /*float:left;*/
  display:inline-table;
  box-shadow: -3px 6px 14px -6px #868686;
}

.notab,
.tabbutton {
    width: 20px;
    height: 15px;
}

.tabbutton {
    background: #BB4E4E;
    width: 25px;
    border-radius: 5px 5px 0 0;
    top: -15px;
    left: 7px;
}

.itsatab .head {
    background: #353535;
}
.itsatab .infocontent,
.itsatab .infocontent a {
    background: #353535;
    color: white;
}


.panel.image,
.panel.image .head,
.panel.image .infocontent,
.panel.image p{
    background:none;
}





.head {
	background: #E9E9E9;
	padding:4px;
	height:28px;
}

.infocontent {
	background: white;
	height:104px;
}


div.link.refzero  {

}
div.tab {
  margin-right:0;
  border-right:4px dotted #FFF;
}

/* Eingetippte Adresse */
div.typed  {
  	width:120px;
}
div.typed .infocontent {
  	background: #5A5A5A url("img/blockquote.png") no-repeat bottom right;
}
div.typed .infocontent a {
  	color:white;
}


/* Extern aufgerufene Adresse */
div.auto_toplevel  {  
  	margin-right:8px;
  	width:160px;
}
div.auto_toplevel .infocontent {
  	background: #ABCBDA url("img/blockquote.png") no-repeat bottom right;
}
div.auto_toplevel .infocontent a {
  	color:black;
}

/* Extern aufgerufene Adresse */
div.keyword  {  
  	margin-right:8px;
  	width:160px;
}
div.keyword .infocontent {
  	background: #C0DAAB url("img/blockquote.png") no-repeat bottom right;
}
div.keyword .infocontent a {
  	color:black;
}


/* Google Suche */
div.google {
	box-shadow:none;
	width:120px;
}
div.google .content {
	background: #DFDFDF;
    opacity: .7;
}

div.google .infocontent .p {
}






div.google .infocontent {
	background:none !important;
}
div.google .infocontent a {
	color:#505050;
	font-weight:bold;
}

/* Müllpanel*/
div.empty  {
  	display:none;
}




div.bookmark {
}
div.bookmark a {
  	color:black !important;
}


/*Seitenaufrufe */
div.panel.rel_big {		width:400px;}
div.panel.rel_some { 	width:250px;}
div.panel.rel_twice {	width:150px;}

/* Query-Importance */
div.lessimportant  {
  	background: #5E5E5E url("img/blockquote.png") no-repeat bottom right !important;
  	width:90px;
  	opacity: .8;
  	font-size: 0.8em;
  	border:0;
}
div.unimportant  {
  	background: #5E5E5E url("img/blockquote.png") no-repeat bottom right !important;
  	width:80px;
  	opacity: .6;
  	font-size: 0.6em;
  	border:0;
}




/*
div.reload  {
  background: rgb(0, 255, 255) url("img/blockquote.png") no-repeat bottom right !important;
}
div.form_submit  {
  background: yellow !important;
}
div.generated  {
  background: orange url("img/blockquote.png") no-repeat bottom right !important;
}
div.auto_bookmark  {
  background: rgb(103, 140, 255) url("img/blockquote.png") no-repeat bottom right !important;
}
div.forward_back {
  	background:#001FFF !important;
} 
*/