/*
 * Styling für Panels
 * 
 * 
 * 
 * 
 */



.contextgroup {
  margin: .2em 1.3em .0em .3em;
  display:inline;
  /*border: 3px solid #000;*/
}

.contextgroup:hover {
    border-top: 10px solid #E8FFCF;
}





div.panel  {
  font-size:16px;
  width:100px;
  display:inline-table;
}
div.panel .content {
    box-shadow: -5px 8px 14px -6px #868686;
}
div.google .content {
    box-shadow: none;
}

.notab,
.tabbutton {
    width: 20px;
    height: 15px;
    margin-top: 4px;
}

.tabbutton {
    background: #087DB4;
    width: 50%;
    /*margin-left: 80%;*/
    border-radius: 5px 5px 0 0;
    /*border: 1px solid #FFF;*/
    border-bottom: 0;
}

.itsatab .head {
    background: #353535;
}
.itsatab .infocontent,
.itsatab .infocontent a {
    background: #353535;
    color: white;
}


.panel.image,
.panel.image .head,
.panel.image .infocontent,
.panel.image p{
    background:none;
}

.panel.document,
.panel.document .head,
.panel.document .infocontent,
.panel.document p{
    background:none;
}
.panel.document .infocontent {
    background: url("img/document.png") no-repeat;
}

.nocontext .panel.document .content {
    background: url("img/document.png") no-repeat;
}
.nocontext .panel.document .infocontent {
    background:none;
}

.head {
	background: #E9E9E9;
	padding:4px;
	height:16px;
}

.infocontent {
	background: white;
	height:104px;
}


div.link.refzero  {

}
div.tab {
  margin-right:0;
  border-right:4px dotted #FFF;
}

/* Eingetippte Adresse */
div.typed  {
  	width:120px;
}
div.typed .infocontent {
  	background: #5A5A5A url("img/blockquote.png") no-repeat bottom right;
}
div.typed .infocontent a {
  	color:white;
}


/* Extern aufgerufene Adresse */
div.auto_toplevel,
div.keyword {
  	width:160px;
}
div.auto_toplevel .infocontent a,
div.keyword .infocontent a {
    color:black;
}
div.auto_toplevel .infocontent {
  	background: #ABCBDA url("img/blockquote.png") no-repeat bottom right;
}
div.keyword .infocontent {
  	background: #C0DAAB url("img/blockquote.png") no-repeat bottom right;
}



/* Google Suche */
div.google {
	box-shadow:none;
    margin: 0 1em 0 .4em;
    width:129px;
}
div.google .head {
    background: none;
    opacity: 0;
}
div.google .content {
	/*background: #DFDFDF; */
    background: url("img/searchbubble.png") no-repeat;
    /*opacity: .7; */
    padding-left: 6px;
}

div.google .infocontent .p {
}


div.mail {
    box-shadow:none;
    width:129px;


}
div.mail .head {

}

div.mail .content {

}
div.mail .infocontent {
    background: none;
    background: #C9B771 url("img/mail-04.png") 6 48 no-repeat;
}




div.google .infocontent {
	background:none !important;
}
div.google .infocontent a {
	color:#505050;
	font-weight:bold;
}

/* Müllpanel*/
div.empty  {
  	display:none;
}




div.bookmark {
}
div.bookmark a {
  	color:black !important;
}


/*Seitenaufrufe */
div.panel.rel_big {		width:300px;}
div.panel.rel_some { 	width:200px;}
div.panel.rel_twice {	width:150px;}

/* Query-Importance */
div.lessimportant  {
  	background: #5E5E5E url("img/blockquote.png") no-repeat bottom right !important;
  	width:90px;
  	opacity: .8;
  	font-size: 0.8em;
  	border:0;
}
div.unimportant  {
  	background: #5E5E5E url("img/blockquote.png") no-repeat bottom right !important;
  	width:80px;
  	opacity: .6;
  	font-size: 0.6em;
  	border:0;
}




/*
div.reload  {
  background: rgb(0, 255, 255) url("img/blockquote.png") no-repeat bottom right !important;
}
div.form_submit  {
  background: yellow !important;
}
div.generated  {
  background: orange url("img/blockquote.png") no-repeat bottom right !important;
}
div.auto_bookmark  {
  background: rgb(103, 140, 255) url("img/blockquote.png") no-repeat bottom right !important;
}
div.forward_back {
  	background:#001FFF !important;
} 
*/

div.stacking.panel {
    /*
    margin-left: -71px;
    margin-top: -9px;
    opacity: .4;
    */
    /*
    margin-right: -85px;
    width: 106px;
    position: relative;
    z-index: -2;*/
}
div.stacking.panel .head button {
    display:none;

}


.hideme {
    display:none
}