html, body {
	margin:0;
  	padding:0;
  	background-color:#C9C9C9;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset,
h1,h2,h3,input, #navigation a {
  	font-family: 'Open Sans', Tahoma, Verdana, sans-serif;
}
body, caption, th, td, input, textarea, select, option, legend, fieldset {
  	font-weight:400;  
}
h2 {
  	font-weight:600;
  	margin-bottom:2px;
  	margin-top: 10px;
}

h1 {
  	font-weight:700;  
}
p {
  	font-family: 'Droid Sans', sans-serif;
  	margin:0;
  	padding:2px;
  	line-height: 16px;
  	display:inline;
}
p.devinfo {
	font-size:.6em;
	color:#FFA500;
	display: block;
}

a {
  	text-decoration:none;
  	color:black;
  	font-size:.8em;
}
.clear {
  	clear:both;
}



/* Configbar */
#configbar {
	position:fixed;
	top:0;
	left:0;
	width:80%;
	/*background-color:#181818;*/
	margin:0;
	padding:4px;
	color:white;
}
.conf{
  	float:left;
  	margin: 4px;
}
#simple-slider {
  	width:50%;
}
#mode-slider {
  	width:200px;
}

/* PanelContent */
#historycontent {
	position:absolute;
	top:50px;
	left:0;
	width:100%;
	padding-left:4px;
	width:80%;
	height: 105%;
	background: #C9C9C9;
}
#sidebar {
	position:fixed;
	left:80%;
	top:0px;
	width:20%;
	padding-left:10px;
	color:black;
}
#searchfield {
  	line-height: 30px;
  	margin-bottom:22px;
}

.bcontext {
	margin-top:10px;
}

.bcontext > div {
	box-shadow: -3px 1px 13px -6px #4B4B4B;
} 


#bookmarklist h2 {
	margin:0;
	display:inline-block;
	/*width:70%;*/
	padding: 2px 8px;
	cursor:pointer;
	color: #363636;
	box-shadow: -3px 0px 14px -6px #868686;
	/*background:#544545;*/
}
#bookmarklist .nocontext {
	background:#ffffff;
}
#bookmarklist .newcontext {
	background: #FFF;
	opacity: 0.3;
	color: #000;
}
#bookmarklist h2:hover {
	color:#A8A8A8;
}
#bookmarklist .bookmark {
	margin-top: 5px;
	cursor: pointer;
	font-size: .7em;
	margin-left: 20px;
	box-shadow: 0 0 0 #868686;

}
#bookmarklist .bookmark img {
	margin: 0px 0px 0px -20px;
	padding: 0px 0px 0px 0px;
	float: left;
}
#bookmarklist .bookmark a {
	background:#D5D5D5;
	font-size: .9em;
}
#bookmarklist .bookmark a:hover {
	background:#E6E6E6;
}





input[type=text]
{
    background-color: #E4E4E4;
    border:solid 0px #BFBDBD;
    color: #3F3F3F;
    height: 32px;
    padding-left:12px;
    /*box-shadow: 2px 2px 0 #8F8F8F inset;*/
    outline:none;
}
input[type=text]:focus
{
    background-color: #fff;
}
input#search {
	margin-top: 8px;
	width:100%;
}








button {
  	height: 15px;
  	width:15px;
  	padding: 0 4px;
  	font-size: 10px;
  	background-color:#FFFFFF;
  	float:right;
  	border:0px solid white;
  	margin:2px;
  	color:white;
}


.contextactivestate {
	opacity:.4;
}

.imgpreview {
  	height:80px;
}

.youtubevideo {
	height:60px;
	width:100px;
	border: 0;
}



div.infotext {
    width: 100px;
    display: inline-block;
    font-size: .8em;
}

div.infotext.title {
    width: 400px;
    display: inline-block;
    font-size: .8em;
}






