html, body {
	margin:0;
  	padding:0;
  	background: #C9C9C9;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset,
h1,h2,h3,input, #navigation a {
  	font-family: 'Open Sans', Tahoma, Verdana, sans-serif;
}
body, caption, th, td, input, textarea, select, option, legend, fieldset {
  	font-weight:400;  
}
h2 {
  	font-weight:600;
}
h1 {
  	font-weight:700;  
}
p {
  	font-family: 'Droid Sans', sans-serif;
  	margin:0;
  	padding:2px;
  	line-height: 16px;
}
p.devinfo {
	font-size:.6em;
	color:#FFA500;
}

a {
  	text-decoration:none;
  	color:black;
  	font-size:.8em;
}
.clear {
  	clear:both;
}



/* Configbar */
#configbar {
  	background-color:#181818;
  	margin:0;
  	padding:4px;
  	color:white;
}
.conf{
  	float:left;
  	margin: 4px;
}
#simple-slider {
  	width:50%;
}
#mode-slider {
  	width:200px;
}
#searchfield {
  	position:relative;
  	height:30px;
  	line-height: 30px;
}

/* PanelContent */
#historycontent {
	margin-left:4px;
}



button {
  	height: 15px;
  	padding: 0 4px;
  	font-size: 10px;
  	float: left;
  	background-color:#FFFFFF;
  	float:right;
  	border:0;
  	margin:2px;
}
.imgpreview {
  	height:80px;
}

.youtubevideo {
	height:60px;
	width:100px;
	border: 0;
}
